:root {
    --bgcolor: rgb(15, 12, 26);
    --bgcolor2: rgb(26, 20, 44);
    --bgcolor3: rgb(38, 28, 58);
    --bgcolor3A: rgba(38, 28, 58, 0.3);
    --secondc: rgb(168, 85, 247);
    --secondcA: rgba(168, 85, 247, 0.9);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    border-style: none;
    font-family:Arial, Helvetica, sans-serif;
}
.loadercontainer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    pointer-events: none;
    z-index: 20;
    display: none;
}
.loadercontainer .innercontainer{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
.loadercontainer .innercontainer .loader{
    border: 8px solid var(--bgcolor);
    border-color: var(--secondc) transparent var(--secondc) transparent;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
  }
