:root{
   --bgcolor: rgb(15, 12, 26);
   --bgcolor2: rgb(26, 20, 44);
   --bgcolor3: rgb(38, 28, 58);
   --bgcolor3A: rgba(38, 28, 58, 0.3);
   --secondc: rgb(168, 85, 247);
   --secondcA: rgba(168, 85, 247, 0.9);
 }
 ::-webkit-scrollbar{
     width: 0.6rem;
 }
 ::-webkit-scrollbar-track{
     background: rgb(65, 61, 75);
 }
 ::-webkit-scrollbar-thumb{
     background: rgba(90, 90, 89, 0);
     border-radius: 1rem;
 }
 ::-webkit-scrollbar-thumb:hover{
     background: var(--secondc);
 }
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     color: white;
     border-style: none;
     font-family:Arial, Helvetica, sans-serif;
 }
 body{
     background-color: var(--bgcolor);
     padding-bottom: 50px;
     overflow: hidden;
 }
 .loginarea{
     width: 100vw;
     height: 100vh;
     padding: 0%;
     display: grid;
     place-items: center;
 }
 .loginarea .container{
    width: 20%;
    aspect-ratio: 1/1.2;
    min-width: 330px;
    min-height: 400px;
    position: relative;
 }
 .loginarea .container .log{
    width: 100%;
    height: 100%;
    background-color: var(--bgcolor);
    border-radius: 0.5rem;
    padding: 30px;
    border: 1px solid var(--secondc);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 22px 70px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 /* .loginarea .container .abso{
    transform: scale(10%);
    animation: absoAnime 2s ease-in;
 } */
 /* .loginarea .container::after{
    content: "";
    width: 8px;
    height: 70px;
    z-index: 1;
    position: absolute;
    background-color: var(--secondc);
    top: 20%;
    left: -1.1%;
    animation: moveupdown 5s ease infinite alternate;
 }*/
 .loginarea .container .caption{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2%;
 }
 .loginarea .container .dec{
    position: absolute;
    width: 130%;
    aspect-ratio: 1/1.2;
    background-color: var(--secondc);
    bottom: -15%;
    left: -15%;
    z-index: -1;
    border-radius: 50%;
 }
 .loginarea .container .dec1{
    animation: rotdec 30s ease infinite;
    animation-timing-function: linear;
    opacity: 0.6;
 }
 .loginarea .container .dec2{
    animation: rotdec 20s ease infinite 2s;
    animation-timing-function: linear;
    opacity: 0.5;
 }
 .loginarea .container .dec3{
    animation: rotdec 15s ease infinite 3s;
    animation-timing-function: linear;
    opacity: 0.2;
 }
 /* .loginarea .container form{
    display: flex;
    flex-direction: column;
    align-items: center;
 } */
 .loginarea .container .text{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-top: 10%;
    opacity: 0.5;
 }
 .loginarea .container input[type="text"], input[type="password"]{
   margin-top: 1%;
   width: 100%;
   height: 10%;
   background-color: var(--bgcolor3);
   border-radius: 0.3rem;
   padding-inline: 5%;
}
.loginarea .container input:focus{
   outline: none;
}
 .loginarea .container button{
    margin-top: 8%;
    height: 30px;
    width: 60%;
    background-color: var(--secondc);
    border-radius: 0.1rem;
    color: black;
    font-size: 1.2rem;
 }
 .loginarea .container input[type="submit"]{
   margin-top: 8%;
   height: 30px;
   width: 60%;
   background-color: var(--secondc);
   border-radius: 0.1rem;
   color: black;
   font-size: 1.2rem;
}
.loginarea .container .error{
   color:red;
   font-size:0.7rem;
   height: 5%;
   width: 100%;
   padding-top: 3px;
   text-align: center;
}



 /* @keyframes moveupdown {
    0%{top:70%}
    100%{top:10%}
 } */
 @keyframes rotdec {
    form{transform:rotate(0deg)}
    to{ transform: rotate(360deg)}
 }
 /* @keyframes absoAnime {
    0%{transform: rotate(0deg) scale(100%);}
    100%{transform: rotate(500deg) scale(0%);}
 } */
